<div class="alert alert-light text-center" role="alert">
    ACTIVIDADES
  </div>
<div class="card-deck">
    <div class="card">
      <img src="img/actividades/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Expotécnica</h5>
        <p class="card-text">La expotécnica es el evento abierto al público más destacado que se realiza en la institución, donde los alumnos que han estado trabajando todo el año finalmente pueden presentar sus proyectos innovadores del área de electrónica y electricidad, ante un jurado, ante el público y en ocasiones ante la prensa o ante autoridades de nivel nacional.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Festejo del Folklore</h5>
        <p class="card-text">El día del folklore es el que se recuerdan y se reviven las tradiciones paraguayas, y los colegios de la república recrean este día en un evento en donde los jóvenes y los docentes se organizan para todo lo necesario, y el CCTL no se queda atrás.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="img/actividades/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Intercolegial deportivo</h5>
        <p class="card-text">El intercolegial deportivo es un evento deportivo organizado por los alumnos y realizado en el polideportivo de la institución, donde equipos deportivos de distintos colegios y distintos deportes realizan un torneo para ver quién de ellos es mejor y quién se llevará el trofeo del primer lugar.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>