<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>
<div class="mx-auto" style="width: 300px;">
    <h2>Nuestra Historia</h2>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <img src="img/nuestrahistoria/3.jpg" width="200" style="float:left; margin-right:5px;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error inventore ducimus non voluptates asperiores perferendis repellendus, accusantium neque quasi quae quia, dolorem vero aliquam ipsam hic veniam repudiandae. Iure, eveniet?
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            1989
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">

    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            1994
        </button>
    </div>
    <div class="col col-md-5">
        <div class="card">
            <div card="card-body">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem odit ea totam optio nobis consectetur officiis, minima nihil enim, explicabo perferendis ipsam distinctio nulla velit. Perferendis hic corrupti velit officiis.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error inventore ducimus non voluptates asperiores perferendis repellendus, accusantium neque quasi quae quia, dolorem vero aliquam ipsam hic veniam repudiandae. Iure, eveniet?
                </p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            1999
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">

    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            2004
        </button>
    </div>
    <div class="col col-md-5">
        <div class="card">
            <div card="card-body">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem odit ea totam optio nobis consectetur officiis, minima nihil enim, explicabo perferendis ipsam distinctio nulla velit. Perferendis hic corrupti velit officiis.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error inventore ducimus non voluptates asperiores perferendis repellendus, accusantium neque quasi quae quia, dolorem vero aliquam ipsam hic veniam repudiandae. Iure, eveniet?
                </p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            2009
        </button>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">

    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            2014
        </button>
    </div>
    <div class="col col-md-5">
        <div class="card">
            <div card="card-body">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem odit ea totam optio nobis consectetur officiis, minima nihil enim, explicabo perferendis ipsam distinctio nulla velit. Perferendis hic corrupti velit officiis.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col col-md-5">
        <div class="card">
            <div class="card-body">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error inventore ducimus non voluptates asperiores perferendis repellendus, accusantium neque quasi quae quia, dolorem vero aliquam ipsam hic veniam repudiandae. Iure, eveniet?
                </p>
            </div>
        </div>
    </div>
    <div class="col col-md-2 text-center">
        <button class="btn btn-secondary">
            2019
        </button>
    </div>
</div>
<p style="height:100px;">

</p>
<%- include('pie') -%>